[submodule "libraries/sparkfun_OLED"]
	path = libraries/sparkfun_OLED
	url = https://github.com/micooke/sparkfun_OLED.git
[submodule "libraries/SoftwareSerial"]
	path = libraries/SoftwareSerial
	url = https://github.com/micooke/SoftwareSerial.git
[submodule "libraries/Kx022-1020"]
	path = libraries/Kx022-1020
	url = https://github.com/micooke/Kx022-1020.git
[submodule "libraries/SoftwareI2C"]
	path = libraries/SoftwareI2C
	url = https://github.com/micooke/SoftwareI2C.git
[submodule "libraries/HP203B"]
	path = libraries/HP203B
	url = https://github.com/micooke/HP203B
